{% extends "base.html" %}

{% block content %}
<h1>Works log</h1>
{% for item in jobs%}
<div class="col-md6 border rounded">
    <h2>Action # {{loop.index}}</h2>
        <div>
            <table class="my_table">
                <tr class="table-secondary">
                    <td>Title of activity</td>
                    <td>Team leader</td>
                    <td>Duration</td>
                    <td>List of collaborators</td>
                    <td>Is finished</td>
                </tr>
                <tr class="table-success">
                    <td>{{item.job}}</td>
                    <td>{{item.team_leader}}</td>
                    <td>{{item.work_size}} часов</td>
                    <td>{{item.collaborators}}</td>
                    <td>{{item.is_finished}}</td>
                </tr>
            </table>
        </div>

</div>
{% endfor %}
{% endblock %}